<table class="table table-striped table-hover">
		<tbody>
				<tr>
						<td>Microcontroller</td>
						<td>8051</td>
				</tr>
				<tr>
						<td>Operating Voltage</td>
						<td>3.3 V</td>
				</tr>
				<tr>
						<td>Clock Speed</td>
						<td>25 MHz</td>
				</tr>
				<tr>
						<td>DC Current</td>
						<td>10 mA @ 25 MHz, 2 mA @ Backup, 3 mA @ Restore</td>
				</tr>
				<tr>
						<td>Digital I/O Pins</td>
						<td>100</td>
				</tr>
				<tr>
						<td>Flash Memory</td>
						<td>64 KB</td>
				</tr>
				<tr>
						<td>FeRAM</td>
						<td>16 KB</td>
				</tr>
				<tr>
						<td>Backup Speed</td>
						<td>2 Clock Cycles</td>
				</tr>
				<tr>
						<td>Restore Speed</td>
						<td>2 Clock Cycles</td>
				</tr>
				<tr>
						<td>UART</td>
						<td>2</td>
				</tr>
				<tr>
						<td>I2C</td>
						<td>1</td>
				</tr>
				<tr>
						<td>Length</td>
						<td>100 mm</td>
				</tr>
				<tr>
						<td>Width</td>
						<td>55.6 mm</td>
				</tr>
				<tr>
						<td>Height</td>
						<td>12.2 mm</td>
				</tr>
				<tr>
						<td>Weight</td>
						<td>145 g</td>
				</tr>
		</tbody>
</table>