<div class="plain-content">
	<p>The NVPEval is a fully-integrated and easy-to-use nonvolatile processor development board. It allows developers to take full advantage of a ferroelectric nonvolatile processor by simply plugging in an energy harvester such as photovoltaic cell. Multiple communication and debugging interfaces are featured on the board. Whenever you've got an idea, NVPEval is ready for your prototype! </p>
	<h2>Structure</h2>
	<div class="figure">
		<img class="img-responsive" src="assets/platform/02.jpg" alt="NVPEval Structure">
		<div class="caption">Figure 1: Block Diagram of NVPEval</div>
	</div>

</div>
