<h2>Schematics</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
<a href="download/NVPEval-schematics.pdf" download="NVPEval-schematics.pdf" class="button btn-theme btn-theme-lg btn-color3-bg margin-r-20"><i class="fa fa-download margin-r-10"></i>Schematics in .PDF</a>
<a href="download/NVPEval-PCB-project.zip" download="NVPEval-PCB-project.zip" class="button btn-theme btn-theme-lg btn-color2-bg margin-r-20"><i class="fa fa-download margin-r-10"></i>PCB Project in .ZIP</a>

<h2>THU-1010N Datasheet</h2>
<p>This document provides the datasheets of 

<a href="download/THU1010N-DATASHEET.pdf" download="THU1010N-DATASHEET.pdf" class="button btn-theme btn-theme-lg btn-color1-bg margin-r-20"><i class="fa fa-download margin-r-10"></i>Datasheet in .pdf</a>

<h2>Coding Examples</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

<button href="#" class="btn-theme btn-theme-lg btn-color4-bg margin-r-20"><i class="fa fa-download margin-r-10"></i>Examples in .zip</button>
